 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi my name is Kartik, I am a developer based in Melbourne, Australia. Currently studying Computer Science. My major interests include Amazon Web Services, Data Science, Software Development & Artificial Intellegence </p>
                </div>
                <div class="col-lg-4">
                    <p>I like building things from scratch thats the reason I chose Computer Science. I make creative & innovative solutions for any problem in the way</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
