 <!-- About Section -->
 <section class="succ" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Other Skills</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <div class="skilli">
                    
                <ol style="list-style:none;">
                    <li class="skila">Logic Thinking</li>
                    <li class="skila">Communication</li>
                    <li class="skila">Mathematics</li>
                    <li class="skila">Statistics</li>
                    <li class="skila">Object-Oriented</li>
                  </ol>  
                  </div>
                  
            </div>
            <div class="col-lg-4">
                
                    <ul style="list-style:none;">
                    <li class="skila">Leadership</li>
                    <li class="skila">Fast Learner</li>
                    <li class="skila">Self-Driven</li>
                    <li class="skila">Data Science</li>
                    <li class="skila">Cloud</li>
                    <li></li>
                  </ul>  
                  
            </div>
           
        </div>
        
    </div>
</section>
